<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SqlConnection" connectionString="Data Source=zalovido.pmsa.com.vn,4020;Initial Catalog=Vido;User Id=vido01;Password=Vido@01" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
